/* Bakgrundsfärg och layout */
body {
    background-color: #FEF7DB;
    margin: 0;
    padding: 0;
}

/* Header-styling */
header {
    margin-top: 0px;
    background-color: #474048;
    text-align: center;
    padding: 2rem;
    width: 100%;
    height: 20vh;
    background-image: url("images/banner.png");
    background-size: contain;
    background-position: center;
    border: 2px solid #474048;
}

/* Main-styling */
main {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

/* Flexbox-container */
.container {
    display: flex;    
    height: calc(100vh - 20vh); /* Full höjd minus header */     
}

/* Vänster container (sidomeny) */
#leftContainer {
    background-color: #C7962D;
    width: 13.3%;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

/* Logo */
#logo img {
    width: 200px;
    height: 200px;   
}

/* Timer-container */
#timerContainer {
    background-color: #C7962D;
}

#startBtn, #stopBtn, #resetBtn {
    background-color: #FEF7DB;
    font-family: Helvetica, sans-serif;
}

#newList, #overwhelmed {
    background-color: #C7962D;
    font-family: Helvetica, sans-serif;
    font-size: small;
}

/* Tasks-container */
#tasksContainer {
    flex-grow: 1; /* Tar upp all återstående plats */
    display: flex; /* Gör container till en flexbox */
    gap: 20px; /* Mellanrum mellan listorna */
    flex-wrap: wrap; /* Tillåt radbrytning om det inte får plats horisontellt */
    padding: 20px;
    
    box-sizing: border-box;
}

/* Styling för individuella listor */
.task-list {
    background-color: #F6988C;
    width: 22%; /* Bredd på varje lista */
    height: 70%; /* Höjd på varje lista */
    padding: 10px;
    box-sizing: border-box; /* Inkludera padding i bredd/höjd */
    border: 1px solid #C7962D;
    text-align: center;
}

/* Listan med uppgifter */
.task-items {
    list-style-type: none; /* Ta bort standard-prickar */
    padding: 0;
    margin: 0;
}

/* Enskilda uppgifter */
.task-item {
    cursor: pointer;
}

/* Uppgift markerad som klar */
.task-item.completed {
    text-decoration: line-through;
    color: gray;
}


/* H3 rubriker */
h3 {
    text-align: center;
}

/* Footer */
footer {
    background-color: #474048;
    text-align: center;
    margin: 0;
    padding: 1rem;
}
